@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KC Dragons Rugby</h1>
    <p class="lead">KC Dragons have been around for 15 years and to celebrate we're having a reunion.</p>
    <p><a href="http://asp.net" class="buttonA red">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reunion</h2>
        <p>If you are planning on attending the reunion and do not want a T-shirt choose this option.</p>
        <p><a class="buttonA red" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reunion and T-Shirt</h2>
        <p>If you plan on attending the reunion and also would like a T-shirt, choose this option.</p>
        <p><a class="buttonA red" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Donate</h2>
        <p>Help the Dragons Rugby team continue to thrive for the next 15 years.</p>
        <p><a class="buttonA red" href=" http />/go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>