<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NITO</title>

		<link href='http://fonts.googleapis.com/css?family=Raleway:300,500,400,700,600' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		
		<link href="style.css" rel="stylesheet" />
		<!-- <link href="style.less" rel="stylesheet/less" /> -->
		
		<link rel="stylesheet" type="text/css" href="css/shadowbox.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
		

		<script src="js/jquery.min.js"></script>
		<!--  <script src="js/less-1.7.0.min.js"></script>-->
		
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
    
		<header >
			<div class='topbar hidden-xs' >
				<div class='container' >
					
					<ul class='singleline pull-right contact' >
						<li>
							<a href='#' ><i class='fa fa-envelope' ></i> contact@gmail.com</a>
						</li>
						<li class='last'>
							<a href='#' ><i class='fa fa-phone' ></i> (800) 322 2323</a>
						</li>
					</ul>	
			
					<!--Social Icons-->
					<ul class='singleline social nito-icon' >
						<li><a href="#"><i class='fa fa-facebook' ></i></a></li>
						<li><a href="#"><i class='fa fa-twitter' ></i></a></li>
						<li><a href="#"><i class='fa fa-pinterest' ></i></a></li>
						<li><a href="#"><i class='fa fa-google-plus' ></i></a></li>
					</ul>	

					
				</div>
			</div>
			<div class='menuholderspace' ></div>
			<div class='menuholder' >
				<div class='container' >
					<div class='menu-toggle visible-xs' ><i class='glyphicon glyphicon-align-justify' ></i></div>
					<a href='#home' ><img src='img/logo.png' alt='' class='logo' /></a>
					<!--Navigation Menues-->
					 <ul class='singleline menu pull-right hidden-xs'>
					   <li><a href="#home">HOME</a><div class='underlinebox' ></div></li>
					   <li><a href="#aboutus">ABOUTUS</a><div class='underlinebox' ></div></li>
					   <li><a href="#services">SERVICES</a><div class='underlinebox' ></div></li>
					   <li><a href="#portfolio">PORTFOLIO</a><div class='underlinebox' ></div></li>
					   <li><a href="#ourteam">TEAM</a><div class='underlinebox' ></div></li>
					   <li><a href="#packages">PRICES</a><div class='underlinebox' ></div></li>
					   <li><a href="#blog">BLOG</a><div class='underlinebox' ></div></li>
					   <li><a class='last' href="#contactus">CONTACT</a><div class='underlinebox' ></div></li>
					 </ul>
					 <!--Navigation Menues for Mobile-->
					 <ul class='mobile-menu'>
					   <li><a href="">HOME</a><div class='underlinebox' ></div></li>
					   <li><a href="#aboutus">ABOUTUS</a><div class='underlinebox' ></div></li>
					   <li><a href="#services">SERVICES</a><div class='underlinebox' ></div></li>
					   <li><a href="#portfolio">PORTFOLIO</a><div class='underlinebox' ></div></li>
					   <li><a href="#ourteam">TEAM</a><div class='underlinebox' ></div></li>
					   <li><a href="#packages">PRICES</a><div class='underlinebox' ></div></li>
					   <li><a href="#blog">BLOG</a><div class='underlinebox' ></div></li>
					   <li><a class='last' href="#contactus">CONTACT</a><div class='underlinebox' ></div></li>
					 </ul>
				</div>
			</div>
			
		</header>
<!--Header Image-->
		<section class='slider' id='home' >
			<div class='slider1-spoof' ></div>
			<div class='container' >
				<div class='row'>		     
					<div class='col-sm-7'>
						<div class='slider1'>
							<h1>DESTIBULUM LACINA <br>
								ERCU RGET NULLA AESTI <BR>
								BULUM...
							</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ul
							</p>
						
							<a href='#contactus' class='buttonA blue' ><span>CONTACT NOW!</span></a>
					
						</div>
						
					</div>
					<div class='col-sm-5 hidden-xs' >
						<div class='right-content'>
							<img  src ='img/iPhone5-black.png' height='693' alt=''/>
						</div>
					</div>
				</div>
			</div>

		</section>
<!--About Us Section-->
		<section id='aboutus' class='aboutus' >
			 <div class='container' >
				<div class='row'>
					<div>
						
						<h1 class='title text-center'><span>ABOUT US</span><div class='underlinebox' ></div></h1>
						
						
						<div class='col-sm-7 hidden-xs' >
							<div class='left-content' >
								<img src='img/Macbook-facing.png' alt=''/>
							</div>
						</div>
						<div class='col-sm-5'>
							<div class='content'>
								<h1>Claritas Est Atiam Processus Dynamicus, Qui Sequitur.</h1>
								<p>
									Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, 			   
								</p>
								<button class='buttonA red'>Contact</button>
							</div>						
						</div>
						
					</div>
				</div>
			 </div>
		</section>
<!--Services Section-->
		<section id="services"  class='services' >
			<div class='left-service-spoof visible-lg' ></div>
			<div class='right-service-spoof visible-lg' ></div>
		
			<div>

				<div class='container' >
					<div class='row'>
						<h1 class='title white text-center'><span>SERVICES</span><div class='underlinebox' ></div></h1>				
						<div class='col-lg-5 col-sm-4'>
							
								<div class='left content'>
									<div class='row'>
										<div class='col-md-8 col-sm-12'>											
											<img src='img/Shape-8.png' class='mobile' alt=''/>
											<h2>WEB DESIGNING</h2>
											<p > 
												Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
											</p>							
										</div>
										<div class='col-sm-4 hidden-sm hidden-xs'>							
											<img src='img/Shape-8.png'  alt=''/>
										</div>
									</div>
								</div>
							
						</div>
						<div class='col-lg-2 col-sm-4'>
							<div class='seo-content text-center'>
								<img src='img/Shape-7.png' width='100px;' alt=''/>
								<h3>SEO</h3>
								<p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum.</p>
							</div>
						</div>
						<div class='col-lg-5 col-sm-4'>
							<div class='right content'>
								<div class='row'>
									<div class='col-sm-4'>
										<img src='img/Shape-9.png'  class='hidden-xs hidden-sm' alt=''/>
									</div>
									<div class='col-sm-8'>
										<img src='img/Shape-9.png' class='mobile' alt=''/>
										<h2>ADVERTISING</h2>
										<p>
											Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		


		</section>
		
<!--Portfolio Section-->

		<section id='portfolio' class='portfolio' >
			<div class='container'>
		
				<h1 class='title text-center'><span>PORTFOLIO</span><div class='underlinebox' ></div></h1>
				<ul class='portfolio-menu singleline text-center '>
					<li><a data-filter="*" href='#'>ALL</a></li>
					<li><a data-filter=".graphics" href='#'>GRAPHICS</a></li>
					<li><a data-filter=".websites" href='#'>WEBSITES</a></li>
					<li><a data-filter=".marketing" href='#'>MARKETING</a></li>
					<li><a data-filter=".ecommerce" href='#'>E-COMMERCE</a></li>
					<li><a data-filter=".other" href='#'>OTHER</a></li>
				</ul>
				<div class='items' >
					<a href='img/portfolio1.jpg' rel="shadowbox" class='item graphics' >
						<img class='image' src='img/portfolio1.jpg'  alt=''/>
						<div class='holder' >
							<h3>Project Title</h3>
							<p>Lorem ipsum dolar sit amit, dolsar olmi olreum ipusm.</p>
						</div>
					</a>
		
					<a href='img/portfolio2.jpg'  rel="shadowbox" class='item graphics' >
						<img class='image' src='img/portfolio2.jpg'  alt=''/>
						<div class='holder' >
							<h3>Project Title</h3>
							<p>Lorem ipsum dolar sit amit, dolsar olmi olreum ipusm.</p>
						</div>
					</a>
	
					<a href='img/portfolio3.jpg'  rel="shadowbox" class='item graphics websites' >
						<img class='image' src='img/portfolio3.jpg'  alt=''/>
						<div class='holder' >
							<h3>Project Title</h3>
							<p>Lorem ipsum dolar sit amit, dolsar olmi olreum ipusm.</p>
						</div>
					</a>

					<a href='img/portfolio4.jpg'  rel="shadowbox" class='item websites' >
						<img class='image' src='img/portfolio4.jpg'  alt=''/>
						<div class='holder' >
							<h3>Project Title</h3>
							<p>Lorem ipsum dolar sit amit, dolsar olmi olreum ipusm.</p>
						</div>
					</a>
	
					<a href='img/portfolio5.jpg'  rel="shadowbox" class='item marketing other' >
						<img class='image' src='img/portfolio5.jpg'  alt=''/>
						<div class='holder' >
							<h3>Project Title</h3>
							<p>Lorem ipsum dolar sit amit, dolsar olmi olreum ipusm.</p>
						</div>
					</a>

					<a href='img/portfolio6.jpg'  rel="shadowbox" class='item marketing' >
						<img class='image' src='img/portfolio6.jpg'  alt=''/>
						<div class='holder' >
							<h3>Project Title</h3>
							<p>Lorem ipsum dolar sit amit, dolsar olmi olreum ipusm.</p>
						</div>
					</a>
	
					<a href='img/portfolio7.jpg'  rel="shadowbox" class='item ecommerce other' >
						<img class='image' src='img/portfolio7.jpg'  alt=''/>
						<div class='holder' >
							<h3>Project Title</h3>
							<p>Lorem ipsum dolar sit amit, dolsar olmi olreum ipusm.</p>
						</div>
					</a>
			
					<a href='img/portfolio8.jpg' rel="shadowbox" class='item other' >
						<img class='image' src='img/portfolio8.jpg'  alt=''/>
						<div class='holder' >
							<h3>Project Title</h3>
							<p>Lorem ipsum dolar sit amit, dolsar olmi olreum ipusm.</p>
						</div>
					</a>
				</div>
				
				
				
				<div class='pagination' >
					<a href='#' >1</a>
					<a href='#' >2</a>
					<a href='#' class='active' >3</a>
					&nbsp;...&nbsp;
					<a href='#' >21</a>
				</div>
			</div>
		</section>
<!--Team Section-->
		<section id='ourteam' class='ourteam' >
			<div class='container'>
				<h1 class='title text-center'><span>OUR TEAM</span><div class='underlinebox' ></div></h1>
				<div class='row'>					
					<div class='col-sm-3 col-xs-6'>
						<div class='member' >							
							<img src='img/team1.jpg' class='image'  alt=''/>
							<div class='holder' >
								<a href='img/team1.jpg' rel="shadowbox" class='cover' ></a>								
								<div class='details' >
									<div class='name' >John Doe</div>
									<div class='jobtitle' >CEO</div>			
									<ul class='singleline social' >
										<li><a href="#"><i class='fa fa-facebook' ></i></a></li>
										<li><a href="#"><i class='fa fa-twitter' ></i></a></li>
										<li><a href="#"><i class='fa fa-google-plus' ></i></a></li>									
									</ul>	
								</div>
							</div>
						</div>
					</div>
					<div class='col-sm-3 col-xs-6'>
						<div class='member' >							
							<img src='img/team2.jpg' class='image'  alt=''/>
							<div class='holder' >
								<a href='img/team2.jpg' rel="shadowbox" class='cover' ></a>								
								<div class='details' >
									<div class='name' >John Smith</div>
									<div class='jobtitle' >CEO</div>			
									<ul class='singleline social' >
										<li><a href="#"><i class='fa fa-facebook' ></i></a></li>
										<li><a href="#"><i class='fa fa-twitter' ></i></a></li>
										<li><a href="#"><i class='fa fa-google-plus' ></i></a></li>										
									</ul>	
								</div>
							</div>
						</div>
					</div>
					
					<div class='col-sm-3 col-xs-6'>
						<div class='member' >							
							<img src='img/team3.jpg' class='image'  alt=''/>
							<div class='holder' >
								<a href='img/team3.jpg' rel="shadowbox" class='cover' ></a>								
								<div class='details' >
									<div class='name' >Anna Doe</div>
									<div class='jobtitle' >CEO</div>			
									<ul class='singleline social' >
										<li><a href="#"><i class='fa fa-facebook' ></i></a></li>
										<li><a href="#"><i class='fa fa-twitter' ></i></a></li>
										<li><a href="#"><i class='fa fa-google-plus' ></i></a></li>										
									</ul>	
								</div>
							</div>
						</div>
					</div>
					
					<div class='col-sm-3 col-xs-6' >
						<div class='member' >							
							<img src='img/team4.jpg' class='image'  alt=''/>
							<div class='holder' >
								<a href='img/team4.jpg' rel="shadowbox" class='cover' ></a>								
								<div class='details' >
									<div class='name' >Jane Smith</div>
									<div class='jobtitle' >CEO</div>			
									<ul class='singleline social' >
										<li><a href="#"><i class='fa fa-facebook' ></i></a></li>
										<li><a href="#"><i class='fa fa-twitter' ></i></a></li>
										<li><a href="#"><i class='fa fa-google-plus' ></i></a></li>										
									</ul>	
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</section>
<!--Skills Section-->
		<section id='skills' class='skills' >
			<div>
				<div class='container'>
				
					<h1 class='title text-center'><span>SKILLS</span><div class='underlinebox' ></div></h1>
		
					<div class='row'>
						<div class='col-sm-3 col-xs-6' >
							<div class='type' >Photoshop</div>
							<div class='progress' >
								<div class='bar' style='width:75%;' ></div>
								<div class='percent' >75%</div>
							</div>
						</div>
						<div class='col-sm-3 col-xs-6' >
							<div class='type' >Illustrator</div>
							<div class='progress' >
								<div class='bar' style='width:85%;' ></div>
								<div class='percent' >85%</div>
							</div>
						</div>
						<div class='col-sm-3 col-xs-6' >
							<div class='type' >HTML & CSS</div>
							<div class='progress' >
								<div class='bar' style='width:95%;' ></div>
								<div class='percent' >95%</div>
							</div>
						</div>
						<div class='col-sm-3 col-xs-6' >
							<div class='type' >SEO</div>
							<div class='progress' >
								<div class='bar' style='width:60%;' ></div>
								<div class='percent' >60%</div>
							</div>
						</div>
					</div>
					
					<div class='content text-center'>
						<h2 class='text-center' >I Love the Service provided by NITO</h2>
						
						<p>
							Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla.
						</p>
						
						<h3>JOHN SMITH FROM MY COMPANY.LTD</h3>
						<h4>www.websitehere.com</h4>
					</div>
					
								
				</div>
			</div>
		</section>
<!--Impressive Numbers Section-->		
		<section class='impressive-numbers'>
		
			<div class='container'>
				<div class='row'>
				
					<h1 class='text-center'>IMPRESSIVE NUMBERS</h1>
					
					<div class='col-sm-3 text-center'>
						<div class='imp-content'>
							<img src='img/pie-chart.png' alt=''/>
							<div class='count' >1856</div>
							<div class='category' >Graphics</div>
						</div>
					</div>
					<div class='col-sm-3 text-center'>
						<div class='imp-content'>
							<img src='img/line-graph.png' alt=''/>
							<div class='count' >980</div>
							<div class='category' >WebSites</div>
						</div>
					</div>
					<div class='col-sm-3  text-center'>
						<div class='imp-content'>
							<img src='img/line-graph.png' alt=''/>
							<div class='count' >482</div>
							<div class='category' >Campaigns</div>
						</div>
					</div>
					<div class='col-sm-3 text-center'>
						<div class='imp-content'>
							<img src='img/cart.png' alt=''/>
							<div class='count' >190</div>
							<div class='category' >SEO</div>
						</div>
					</div>
				</div>
			</div>				

		</section>
<!--Prices/ Packages-->
		<section id='packages' class='packages' >
			<div class='container'>
				
					<div>
						<h1 class='text-center title '><span>PACKAGES</span><div class='underlinebox' ></div></h1>
						
						<div class='package-values'>
							<div class='row'>
								<div class='col-sm-4 text-center'>
									<div class='item' >
										<h2>Standard</h2>
										<ul class='details' >
										
											<li>Vestibulu Lacinia</li>
											<li>Arcu Eget Nulla</li>
											<li>Class Aptent</li>
											<li>Taciti Sociosqu Ad</li>
											<li>Litora Torquent Per</li>
											<li>Conubia nostra, Per Inceptos</li>
											<li>Himenaeos</li>
										</ul>
										<div class='price' ><strong>$199</strong>/month</div>
										<a href='#' class='buttonA blue noborder small'>ORDER</a>
									</div>
								</div>
								<div class='col-sm-4 text-center'>
									<div class='item red' >
										<h2>Premium</h2>
										<ul class='details' >
										
											<li>Vestibulu Lacinia</li>
											<li>Arcu Eget Nulla</li>
											<li>Class Aptent</li>
											<li>Taciti Sociosqu Ad</li>
											<li>Litora Torquent Per</li>
											<li>Conubia nostra, Per Inceptos</li>
											<li>Himenaeos</li>
										</ul>
										<div class='price' ><strong>$199</strong>/month</div>
										<a href='#' class='buttonA noborder small'>ORDER</a>
									</div>
								</div>
								<div class='col-sm-4 text-center'>
									<div class='item' >
										<h2>Delux</h2>
										<ul class='details' >
										
											<li>Vestibulu Lacinia</li>
											<li>Arcu Eget Nulla</li>
											<li>Class Aptent</li>
											<li>Taciti Sociosqu Ad</li>
											<li>Litora Torquent Per</li>
											<li>Conubia nostra, Per Inceptos</li>
											<li>Himenaeos</li>
										</ul>
										<div class='price' ><strong>$199</strong>/month</div>
										<a href='#' class='buttonA blue noborder small'>ORDER</a>
									</div>
								</div>
							</div>
						</div>

					</div>
					
					<div class='packages-details'>
						<h2 class='text-center'>HOW TO SUBMIT YOUR ORDER</h2>
						<p>
							Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
						</p>
					</div>
					
			
			</div>
		</section>
<!--Blog Section-->
		<section id='blog' class='blog' style='padding-top:0;' >
			<div class='container'>
				
					<div>
						<h1 class='text-center title'><span>BlOG</span><div class='underlinebox' ></div></h1>
						<div class='row' >
							<div class='col-sm-6'>
								<div class='item'  >
									<div class='holder' >
										<a href='#' >
											<img src='img/blog2.png' alt=''/>
											<div class='cover' ></div>
										</a>
										<div class='date'>25 JAN</div>
									
									</div>
											
									<h2>Ulputate velit esse</h2>								
									<p>
										Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.
									</p>
									
									<div style='text-align:center;' >
										<a href='#' class='buttonA small hoverred' >Read more</a>
									</div>
								</div>
								<div class='content' >
									<article class='show' >
										<div class='image-holder' >
											<img  class='image' src='img/blog-preview.png' />
											<div class='date'>25 JAN</div>
										</div>
										<h1>Lorem ipsum dolar</h1>
										<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus l
										</p>
										<p>
											Ectetuer adipiscing elit, sed diam nonummy nibh e Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor. vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor.
										</p>
										<div class='details' >
											<div class='item' ><i class='glyphicon glyphicon-thumbs-up' ></i> 1245</div>
											<div class='item' ><i class='glyphicon glyphicon-user' ></i> by Admin</div>
										</div>
									</article>
								</div>
								
								
							</div>
							<div class='col-sm-6'>
								<div class='item'  >
									<div class='holder' >
										<a href='#' >
											<img src='img/blog2.png' alt=''/>
											<div class='cover' ></div>
										</a>
										<div class='date'>25 JAN</div>
									
									</div>
											
									<h2>Ulputate velit esse</h2>								
									<p>
										Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.
									</p>
									
									<div style='text-align:center;' >
										<a href='#' class='buttonA small hoverred' >Read more</a>
									</div>
								</div>
								<div class='content' >
									<article class='show' >
										<div class='image-holder' >
											<img  class='image' src='img/blog-preview.png' />
											<div class='date'>25 JAN</div>
										</div>
										<h1>Lorem ipsum dolar</h1>
										<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus l
										</p>
										<p>
											Ectetuer adipiscing elit, sed diam nonummy nibh e Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor. vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor.
										</p>
										<div class='details' >
											<div class='item' ><i class='glyphicon glyphicon-thumbs-up' ></i> 1245</div>
											<div class='item' ><i class='glyphicon glyphicon-user' ></i> by Admin</div>
										</div>
									</article>
								</div>
							</div>
						</div>
						<div class='row' >
							<div class='col-sm-6'>
								<div class='item'  >
									<div class='holder' >
										<a href='#' >
											<img src='img/blog3.png' alt=''/>
											<div class='cover' ></div>
										</a>
										<div class='date'>25 JAN</div>
									
									</div>
											
									<h2>Ulputate velit esse</h2>								
									<p>
										Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.
									</p>
									
									<div style='text-align:center;' >
										<a href='#' class='buttonA small hoverred' >Read more</a>
									</div>
								</div>
								<div class='content' >
									<article class='show' >
										<div class='image-holder' >
											<img  class='image' src='img/blog-preview.png' />
											<div class='date'>25 JAN</div>
										</div>
										<h1>Lorem ipsum dolar</h1>
										<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus l
										</p>
										<p>
											Ectetuer adipiscing elit, sed diam nonummy nibh e Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor. vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor.
										</p>
										<div class='details' >
											<div class='item' ><i class='glyphicon glyphicon-thumbs-up' ></i> 1245</div>
											<div class='item' ><i class='glyphicon glyphicon-user' ></i> by Admin</div>
										</div>
									</article>
								</div>
							</div>
							<div class='col-sm-6'>
								<div class='item'  >
									<div class='holder' >
										<a href='#' >
											<img src='img/blog4.png' alt=''/>
											<div class='cover' ></div>
										</a>
										<div class='date'>25 JAN</div>
									
									</div>
											
									<h2>Ulputate velit esse</h2>								
									<p>
										Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.
									</p>
									
									<div style='text-align:center;' >
										<a href='#' class='buttonA hoverred small' >Read more</a>
									</div>
								</div>
								<div class='content' >
									<article class='show' >
										<div class='image-holder' >
											<img  class='image' src='img/blog-preview.png' />
											<div class='date'>25 JAN</div>
										</div>
										<h1>Lorem ipsum dolar</h1>
										<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus l
										</p>
										<p>
											Ectetuer adipiscing elit, sed diam nonummy nibh e Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor. vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor.
										</p>
										<div class='details' >
											<div class='item' ><i class='glyphicon glyphicon-thumbs-up' ></i> 1245</div>
											<div class='item' ><i class='glyphicon glyphicon-user' ></i> by Admin</div>
										</div>
									</article>
								</div>
							</div>
						</div>
						
						<div class='row hidden-blog' >
							<div class='col-sm-6'>
								<div class='item'  >
									<div class='holder' >
										<a href='#' >
											<img src='img/blog2.png' alt=''/>
											<div class='cover' ></div>
										</a>
										<div class='date'>25 JAN</div>
									
									</div>
											
									<h2>Ulputate velit esse</h2>								
									<p>
										Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.
									</p>
									
									<div style='text-align:center;' >
										<a href='#' class='buttonA small hoverred' >Read more</a>
									</div>
								</div>
								<div class='content' >
									<article class='show' >
										<div class='image-holder' >
											<img  class='image' src='img/blog-preview.png' />
											<div class='date'>25 JAN</div>
										</div>
										<h1>Lorem ipsum dolar</h1>
										<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus l
										</p>
										<p>
											Ectetuer adipiscing elit, sed diam nonummy nibh e Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor. vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor.
										</p>
										<div class='details' >
											<div class='item' ><i class='glyphicon glyphicon-thumbs-up' ></i> 1245</div>
											<div class='item' ><i class='glyphicon glyphicon-user' ></i> by Admin</div>
										</div>
									</article>
								</div>
								
								
							</div>
							<div class='col-sm-6'>
								<div class='item'  >
									<div class='holder' >
										<a href='#' >
											<img src='img/blog2.png' alt=''/>
											<div class='cover' ></div>
										</a>
										<div class='date'>25 JAN</div>
									
									</div>
											
									<h2>Ulputate velit esse</h2>								
									<p>
										Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.
									</p>
									
									<div style='text-align:center;' >
										<a href='#' class='buttonA small hoverred' >Read more</a>
									</div>
								</div>
								<div class='content' >
									<article class='show' >
										<div class='image-holder' >
											<img  class='image' src='img/blog-preview.png' />
											<div class='date'>25 JAN</div>
										</div>
										<h1>Lorem ipsum dolar</h1>
										<p>
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus l
										</p>
										<p>
											Ectetuer adipiscing elit, sed diam nonummy nibh e Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor. vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor.
										</p>
										<div class='details' >
											<div class='item' ><i class='glyphicon glyphicon-thumbs-up' ></i> 1245</div>
											<div class='item' ><i class='glyphicon glyphicon-user' ></i> by Admin</div>
										</div>
									</article>
								</div>
							</div>
						</div>
						
					</div>
					<div style='text-align:center;' >
						<a href='#' class='buttonA blue load-blog small' >Load...</a>
					</div>
			</div>		
		</section>
<!--Contact Us Section-->
		<section id='contactus' class='contactus'>
			<div>
				<div class='container'>
					<div class='row'>
							<h1 class='title text-center white'><span>CONTACT US</span><div class='underlinebox' ></div></h1>
							<div class='col-sm-4'>
								<p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
								</p>
								
				
								<ul class='contact' >
									<li><i class='fa fa-phone' ></i> <span>(800)-002-0023</span></li>
									<li><i class='fa fa-envelope' ></i> <span>contact@email.com</span></li>
									<li><i class='fa fa-map-marker' ></i> <span>Address goes here, city zippo</span></li>
								</ul>
								
								<ul class='singleline social'>
									<li><a href='#' ><img src='img/fbicon.png' alt=''/></a></li>
									<li><a href='#' ><img src='img/twicon.png' alt=''/></a></li>
									<li><a href='#' ><img src='img/gpicon.png' alt=''/></a></li>
								</ul>
							</div>
							<div class='col-sm-8'> 
								<form role='form' class="form-horizontal" action='contact.php' method='post' >
									<div class='form-group'>
										<label for="Name" class="col-sm-2 control-label">Name:</label>
										<div class="col-sm-10">
											<input type="text" required='required' class="form-control" id="Name" name='name' placeholder="Name">
										</div>
									</div>
									<div class='form-group'>
										<label for="Email" class="col-sm-2 control-label">Email:</label>
										<div class="col-sm-10">
											<input type="email" required='required' class="form-control" id="Email" name='email' placeholder="Email">
										</div>
									</div>
									<div class='form-group'>
										<label for="Phone" class="col-sm-2 control-label">Phone:</label>
										<div class="col-sm-10">
											<input type="tel" class="form-control" id="Phone" name='phone' placeholder="Phone">
										</div>
									</div>
									<div class='form-group'>
										<label for="Message" class="col-sm-2 control-label">Message:</label>
										<div class="col-sm-10">
											<textarea class="form-control" required='required' name='message' rows="8" placeholder='Message' ></textarea>
											<div class='form-return' style='margin-top:10px;' ></div>
											<button type='submit' class='buttonA red small noborder hoverblue' >Submit</button>
										</div>
									</div>
								</form>
								
							</div>
						</div>
					</div>
			</div>
		</section>

		<section id='location' class='map' style='padding:0;' >
			<div>
				<div id="googleMap" style="width:100%;height:400px;" ></div>
			</div>
		</section>

		<footer>
			<div class='container'>
		
				<div class='text-center'>2002-2015 company ltd | designed by <strong>pmvchamara</strong></div>
	
			</div>
		</footer>


		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js"></script>
		<script type="text/javascript" src="js/shadowbox.js"></script>
		<script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
		<script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
		
		<script type="text/javascript">
			Shadowbox.init();
		</script>
		
				
				
		<script>	
				
				// nav show animation
				$(document).scroll(function(){
					
					var offsetTop = 105;
					
					var st = $(document).scrollTop();
					if(st >= offsetTop){
						if(!$(".menuholder").hasClass("fixed")){
							$(".menuholder").addClass("fixed");
							$(".menuholderspace").addClass("show");
						}
					}
					else{
						if($(".menuholder").hasClass("fixed")){
							$(".menuholder").removeClass("fixed");
							$(".menuholderspace").removeClass("show");
						}
					}
				});
				
				// contact form
				
				$(".contactus form").submit(function(e){
					
					e.preventDefault();
					var form = this;
					$(form).find("[type='submit']").html("Submitting..");
					
					$.ajax({
					   type: "POST",
					   url: $(this).attr("action"),
					   data: $(this).serialize(), // serializes the form's elements.
					   success: function(data){
							$(".form-return").html(data).slideDown();							
							$(form).find("[type='submit']").html("Submit");
							$(form)[0].reset();
					   }
					 });
					
				});
		
		
				// mobile menu
				
				$(".menu-toggle").click(function(){
					$(".mobile-menu").slideToggle();
				});
		
				// google map
				function initialize(){
					var mapProp = {
						center:new google.maps.LatLng(51.508742,-0.120850),
						zoom:5,
						scrollwheel: false,
						mapTypeId:google.maps.MapTypeId.ROADMAP
					};
					var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
				}
				google.maps.event.addDomListener(window, 'load', initialize);
				
				// blog load more
				
				$(".load-blog").click(function(e){
					e.preventDefault();
					$(".hidden-blog").fadeIn();
					$(this).hide();
				
				});
				
				// blog open shadow box
				$(".blog .item a").click(function(e){
					e.preventDefault();
				    var imgSrc=$(this).attr('href');
					var imgContent=$(this).next().text();
					var imgTitle=$(this).prev().text();
					
					var bloghtml = $(this).closest(".item").parent().find(".content").html();
					
					
					
					var divContent = bloghtml;
					
						Shadowbox.open({
						content:    divContent,
						player:     "html",
						width:971,
						height:834
						});
					return false;
				});
				
				// portfolio filter isotopes

				
				var $container = $('.portfolio .items').imagesLoaded( function() {
				  $container.isotope({
						itemSelector: '.item',					
						masonry: {
					
						}
				  });
				});
				
				
				var container = document.querySelector('.portfolio .items');
				


				$('.portfolio-menu a').on( 'click', function(e) {
					e.preventDefault();
					var filterValue = $( this ).attr('data-filter');

				
					$container.isotope({ filter: filterValue });
				});
				
				// slider out container design
				$(document).ready(function(){
					update_design_slider_out_container();
				});
				
				$(window).resize(function(){
					update_design_slider_out_container();
				});
				
				function update_design_slider_out_container(){
					<!-- slider -->
					var offsetSlider1 = $(".slider1").offset();
					var offsetSlider = $(".slider").offset();
					
					var top = offsetSlider1.top - offsetSlider.top;
					var left = offsetSlider1.left - offsetSlider.left;
					var height = $(".slider1").outerHeight();
					var width = $(".slider1").outerWidth();
					
				
					$(".slider1-spoof").css("top",top+"px");
					$(".slider1-spoof").css("height",height+"px");
					$(".slider1-spoof").css("width",left+width+"px");
					
					<!-- service left -->
					offsetSlider1 = $(".left.content").offset();
					top = offsetSlider1.top;
					left = offsetSlider1.left;
					height = $(".left.content").outerHeight();
					width = $(".left.content").outerWidth();
					$(".left-service-spoof").css("top",top+"px");
					$(".left-service-spoof").css("height",height+"px");
					$(".left-service-spoof").css("width",left+width+"px");
					
					<!-- service right -->
					offsetSlider1 = $(".right.content").offset();
					top = offsetSlider1.top;
					left = $(document).width() - offsetSlider1.left;
					height = $(".right.content").outerHeight();
					width = 0;
					$(".right-service-spoof").css("top",top+"px");
					$(".right-service-spoof").css("height",height+"px");
					$(".right-service-spoof").css("width",left+width+"px");
					
					
					//$(".slider1-spoof").css("top",$(".slider1").css("top"));
				}
									// smooth scroll
				
				$('a[href*=#]').on('click', function(event){     
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
				});
		</script>
		

				
	</body>
</html>